{%extends 'basic4.html'%}
{%load crispy_forms_tags%}
<!--<div class="jumbotron jumbotron-fluid">-->
<!--	<img src="i.jpg" width="100%; height100%">-->
<!--</div>-->
<!--<a href="file:///C:/Users/Iqra%20Mubeen/Desktop/admin-dashboard-responsive-layout/admin-dashboard-responsive-layout/index.html#"-->
<!--   class="nav-trigger"><span></span></a>-->
<!--</div>-->
{%block title%}Home{%endblock%}
{%block css%}{%endblock%}
{%block body%}
	<div style="position:relative;" class="title">
		Analytics
	</div>
	<div class="main">
		<div class="widget">
			<div class="title">User Profiles</div>
			<div class="chart">
				{{profile}}
			
			</div>
		</div>
		<div class="widget">
			<div class="title">Interview Detail</div>
			<div class="chart">
				{%csrf_token%}
				{%for val in ans%}
				{{val.id}}
				{{val.question}}
				{{val.answer}}
				{{val.is_correct}}
				{{val.question_id}}
				
				<br>
				{%endfor%}
			</div>
		</div>
		<div class="widget">
			<div class="title">User Log</div>
			<div class="chart"></div>
		</div>
	</div>

{%endblock%}