{%extends 'basic4.html'%}
{%load crispy_forms_tags%}
{%block title%}Adding Questions{%endblock%}

{%block body%}
{{form.media}}
<div class="container" style="">
	<form id="FormAjax">
		<p class="text-muted">Feilds with <span style="color:red">*</span> are Mandatory!</p>
		<p class="text-muted form-text" ><span style="color:red"s> Also Add the Options for question.Options can be of any number e.g(2,3,4,5.....)</span> </p>
		<div class="row">
			<div class="col-9">
				{{form.question|as_crispy_field}}
				{{form.question.errors}}
			</div>
		</div>
		<div class="row">

			<div class="col-6">
				{{form.explanation|as_crispy_field}}
				{{form.explanation.errors}}
			</div>
		</div>
		<!--		<button type="submit" class="btn btn-outline-success">Save</button>-->
	</form>

	<div style="height:20px;margin-top:4px">
		<hr style="border:4px solid grey;border-radius:9px;">
	</div>
	<div class="card custom-card">
		<div class="card-header">
			Options!
			<p class="text-muted"><span style="color:red">Click the CheckBox for correct Option.</span></p>
		</div>
		<div class="card-body">
			<div id="OptionInput" class="form-row">
				<div class="form-group col-md-8">
					<input type="text" class="form-control custom" id="Option" placeholder="Option"/>
				</div>
				<div class="form-group col-md-1">
					<input type="checkbox" value="true" class=" form-control form-control-md" id="IsTrue"/>
				</div>
				<div class="form-group col-md-3">
					<input type="button" style="width:90%" class="btn btn-success" id="AddOptionButton"
					       value="Add"/>
				</div>
			</div>
			<div id="OptionDetailPlaceHolder">
			</div>
		</div>
		<div class="card-footer">
			<input type="submit" class="btn btn-outline-primary" style="width:100%" id="SubmitQuestion"
			       value="Save Answers"/>
		</div>
	</div>
</div>


{%endblock%}

{%block script%}
$("#AddOptionButton").click(function () {
var $Row = $("#OptionInput").clone().removeAttr('id');
//Assigning Values To Clone row
$('#Option', $Row).val($('#Option').val());
$('#IsTrue', $Row).val($('#IsTrue').val());
//Replace add button with remove button
$('#AddOptionButton', $Row).addClass('remove').val("Remove").removeClass('btn-success').addClass(
'btn-danger');
// //adding Class Attributes
$('#Option', $Row).attr('class', 'Option form-control custom');
$('#IsTrue', $Row).attr('class', 'IsTrue form-control form-control-md custom');
$('#Option', $Row).prop("readonly", "true");
$('#IsTrue', $Row).prop("readonly", "true");
//Removing ID Attributes
$('#Option,#IsTrue,#AddOptionButton', $Row).removeAttr('id');
//Appending Row to New Row
$('#OptionDetailPlaceHolder').append($Row)
//Clearing Input Values
$('#Option').val("");
$('#IsTrue').prop("checked", false);
//remove button click event
$('#OptionDetailPlaceHolder').on('click', '.remove', function () {
$(this).parents('.form-row').remove();
});
});

$("#SubmitQuestion").click(function () {
var Model = {
Question: [],
Options: [],
};
////Getting All Options
$("#OptionDetailPlaceHolder .form-row").each(function () {
var Option = {
Option: $(".Option", this).val(),
IsTrue: ($(".IsTrue", this).is("option:checked")) ? "true" : "false",
};
var question ={
Question:$("#id_question").val(),
Explanation : $("#id_explanation").val(),
};

Model.Options.push(Option);
Model.Question.push(question);
});


////Send Ajax Request... With Model


$.ajax({
url: "{%url 'InterviewPanel:AddQuestionsWithAnswers' %}",
method: 'POST',
dataType: "json",
traditional: true,
contentType: 'application/json; charset=utf-8',
data:JSON.stringify(Model),
success: function(data)
			{
				if (data)
				{
					alert("Question And Answer are Saved!!");
					$("#id_question").val("");
					$("#id_explanation").val("");
					$('#Option').val("");
					$('#IsTrue').prop("checked", false);
					$('#OptionDetailPlaceHolder').remove();
				}
			}
});
});
{%endblock%}


</html>