<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
<form method="post" novalidate>
			{%csrf_token%}
			<label for="id_answer1">Answer:</label>
			<input type="text" name="answer" value="" maxlength="500" required="" id="id_answer1">
			<label for="id_is_correct1">Is correct:</label>
			<input type="checkbox" name="is_correct" id="id_is_correct1">
			<hr>
			<label for="id_answer2">Answer:</label>
			<input type="text" name="answer" value="" maxlength="500" required="" id="id_answer2">
			<label for="id_is_correct2">Is correct:</label>
			<input type="checkbox" name="is_correct" id="id_is_correct2">
			<hr>
<!--			-->
<!--			<label for="id_answer3">Answer:</label>-->
<!--			<input type="text" name="answer" value="" maxlength="500" required="" id="id_answer3">-->
<!--			<label for="id_is_correct3">Is correct:</label>-->
<!--			<input type="checkbox" name="is_correct" id="id_is_correct3">-->
<!--			<hr>-->
<!--			-->
<!--			<label for="id_answer4">Answer:</label>-->
<!--			<input type="text" name="answer" value="" maxlength="500" required="" id="id_answer4">-->
<!--			<label for="id_is_correct4">Is correct:</label>-->
<!--			<input type="checkbox" name="is_correct" id="id_is_correct4">-->
<!--			<hr>-->
<!--			-->
<!--						{{form4.as_table}}-->
<!--			-->
<!--			<button type="submit" class="btn btn-outline success">send</button>-->
<!--		-->
		</form>

</body>
</html>