{% extends 'basic4.html' %}
{% load i18n %}
{% block title %}
{{ quiz.title }}
{% endblock %}

{% block body %}
<div class="container col">
	<table class="table table-bordered table-striped" >
		<thead class="thead-dark">
		<tr>
			<th>Title</th>
			<th>Description</th>
			<th>Success Text</th>
			<th>Fail Text</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>{{ quiz.title }}</td>
			<td>{{quiz.description}}</td>
			<td>{{quiz.success_text}}</td>
			<td>{{quiz.fail_text}}</td>
			<td><a href="{%url 'InterviewPanel:StartQuiz' slug=quiz.url%}">
				<button class="btn btn-primary btn-block">Start Quiz</button>
			</a></td>
		</tr>
		</tbody>
	</table>
<!--	<div class="col-md-4">-->
<!--		<label><strong>Title</strong></label>-->
<!--		<h6>{{ quiz.title }}</h6>-->
<!--		<p><strong>Description: </strong>{{quiz.description}}</p>-->
<!--		<p><strong>Success Text: </strong> {{quiz.success_text}}</p>-->
<!--		<p><strong>Fail Text: </strong> {{quiz.fail_text}}</p>-->
<!--		-->
<!--		{% if q.single_attempt %}-->
<!--		<h4>{% trans "User will only get one attempt at this quiz" %}.</h4>-->
<!--		{% endif %}-->
<!--	</div>-->
<!--	<div class="row">-->
<!--		<div class="col-md-2 ml-auto">-->
<!--			<a href="{%url 'InterviewPanel:StartQuiz' slug=quiz.url%}">-->
<!--				<button class="btn btn-primary">Start</button>-->
<!--			</a>-->
<!--		</div>-->
<!--	</div>-->
</div>


{%endblock%}
