{%extends 'basic4.html'%}
{%block title%}Add Quiz{%endblock%}
{%load crispy_forms_tags%}


{%block body%}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{message.tags}} alert-dismissible" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	{{ message }}
</div>
{% endfor %}
{%endif%}
<div class="container">
	<form method="post" novalidate>
		{%csrf_token%}
		<p class=" form-text text-muted">Fields with <span style="color:red">*</span> are mandatory. </p>
		<p class=" form-text text-muted" style="font-size:12px"> This is Quiz Creation Form.Fill the Fields and to View
			a Quiz either use Admin panel or "Start Quiz" Navigation bar link .</p>
		<div class="row">
			<div class="col-md-5">
				{{form.title|as_crispy_field}}
			</div>
			<div class="col-md-3">
				{{form.category|as_crispy_field}}
			</div>
			<div class="col-md-3">
				<label for="NewCat">Category: </label>
				<a href="/admin/InterviewPanel/category/add/" id="NewCat" class="btn btn-primary btn-block"
				   target="blank"
				   title="Click This to Add a New Category" style="color:white">New Category</a>
				<p class=" form-text text-muted" style="font-size:12px">Click This to create new Category.</p>
			
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				{{form.description|as_crispy_field}}
			</div>
			<div class="col-md-5">
				{{form.Instructions|as_crispy_field}}
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				{{form.success_text|as_crispy_field}}
			</div>
			<div class="col-md-5">
				{{form.fail_text|as_crispy_field}}
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<!--				{{form.answers_at_end|as_crispy_field}}-->
			
			</div>
			
			<div class="col-md-4">
				<!--				{{form.single_attempt|as_crispy_field}}-->
			</div>
			<div class="col-md-8">
				{{form.media}}
				{{form.questions}}
			</div>
		</div>
		<button type="submit" class="btn btn-outline-success">Send</button>
	</form>
</div>


{%endblock%}