{%extends 'basic4.html'%}

{% load i18n %}
{%block title%}Quiz View{%endblock%}
{%block body%}
<h2>{% trans "List of quizzes" %}</h2>
    {% if quiz_list %}
		<table class="table table-light table-striped table-hover table-bordered">

		  <thead>
			<tr>
			  <th>{% trans "Title" %}</th>
			  <th>{% trans "Category" %}</th>
			  <th>{% trans "Single attempt" %}</th>
			  
			</tr>
		  </thead>
		  <tbody>
        {% for quiz in quiz_list %}
  			<tr>
			  <td>{{quiz.title}}</td>
			  <td>{{ quiz.category }}</td>
			  <td>{{ quiz.single_attempt }}</td>
			   <td><a href="{%url 'InterviewPanel:DetailQuiz' slug=quiz.url%}">
				  {% trans "View details" %}
				</a>
		    </td>
			</tr>

        {% endfor %}
		  </tbody>

		</table>

	{% else %}
        <p>{% trans "There are no available quizzes" %}.</p>
    {% endif %}

{%endblock%}
