{%extends 'basic4.html'%}
{%load crispy_forms_tags%}
{%block title%}
Adding Questions
{%endblock%}
{%block css%}
{%endblock%}
{%block body%}
<div class="container" style="position:relative;">
	
	<div class="col-sm-4" style="margin:10%">
		
		<form enctype="multipart/form-data" method="post" novalidate>
			
			{%crispy add%}
			<button class="btn btn-outline-success" type="submit">Save</button>
		</form>
	</div>
	<div class="col-sm-4 ml-auto d1" style="margin:9%">
			<textarea id="t1" rows="14" cols="40">

			</textarea>
	</div>

</div>
</div>
{%endblock%}
{%block script%}
$(document).ready(function(event) {
$("#t1").hide();
var dataOfQuiz = [];
var z = {};
var l =1;
$("select#id_quiz").change(function () {
var quiz = $(this).children("option:selected").val();

//var a = document.createElement('div')
console.log(quiz);

$.ajax({
url: "{%url 'InterviewPanel:DetailOfQuiz'%}",
method: 'POST',
data:JSON.stringify({'quiz': quiz}),
dataType: 'json',
success: function (data)
{
if (data)
{
alert("Quiz Exists in your Collection!!click OK to proceed");
z = Object.keys(data[0]);
dataOfQuiz = data;
var len =    data.length;
console.log('length of data ' + len);
for (var i=0;i
<len;i++){
z.forEach(Afn);
function Afn (item){
//console.log("data " + data[0][item] + " Item " +item );
a = dataOfQuiz[i][item];
$("#t1").show();
$("#t1").append( item + " ->> " + a + "\n");

}
}
}
}
});
});
});
{%endblock%}