{% extends 'basic.html'%}
{% block title %}{% endblock %}

{% block body %}
{%load static%}


<div class="site-blocks-cover overlay"
     style="background-image: url({%static 'images/background_uog001.jpg'%}); opacity: 0.9;" data-aos="fade"
     id="home-section">
	
	<div class="container">
		<div class="row align-items-center justify-content-center">
			
			
			<div class="col-md-8 mt-lg-5 text-center">
				<h1 class="text-uppercase" data-aos="fade-up">Welcome</h1>
				<p class="mb-5 desc" data-aos="fade-up" data-aos-delay="100"></p>
				<div data-aos="fade-up" data-aos-delay="100">
					<a href="#contact-section" class="btn smoothscroll btn-primary mr-2 mb-2">Get In Touch</a>
				</div>
			</div>
		
		</div>
	</div>
	
	<a href="#about-section" class="mouse smoothscroll">
        <span class="mouse-icon">
          <span class="mouse-wheel"></span>
        </span>
	</a>
</div>
<div class="site-section cta-big-image" id="about-section">
	<div class="container">
		<div class="row mb-5">
			<div class="col-12 text-center" data-aos="fade">
				<h2 class="section-title mb-3">About Us</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
				<figure class="circle-bg">
					<img src="{%static 'images/hero_1.jpg'%}" alt="Image" class="img-fluid">
				</figure>
			</div>
			<div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
				<div class="mb-4">
					<h3 class="h3 mb-4 text-black">Our Introduction</h3>
					<p>Teaching is recognized as a sacred and Prophets’ profession in the world history. To join this
						graceful profession will provide you with both the opportunities of serving and earning.
						Prospective teachers assume a dignified role in the society, render social services, contribute
						to the progress and prosperity of the nation and participate in shaping the future generations.
						The world is changing faster than ever. The students are inspired to enter the Department with
						motivation and analytical thinking needed to maintain competitiveness in local and global
						society. </p>
				
				</div>
			
			</div>
		</div>
	</div>
</div>

<section class="site-section">
	<div class="container">
		
		<div class="row mb-5 justify-content-center">
			<div class="col-md-7 text-center">
				<h2 class="section-title mb-3" data-aos="fade-up" data-aos-delay="">Our Features</h2>
				<p class="lead" data-aos="fade-up" data-aos-delay="100"></p>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
				
				<div class="owl-carousel slide-one-item-alt">
					<img src="{%static 'images/slide_1.jpg'%}" alt="Image" class="img-fluid">
					<img src="{%static 'images/slide_2.jpg'%}" alt="Image" class="img-fluid">
					<img src="{%static 'images/slide_3.jpg'%}" alt="Image" class="img-fluid">
					<img src="{%static 'images/slide_4.jpg'%}" alt="Image" class="img-fluid">
				</div>
				<div class="custom-direction">
					<a href="#" class="custom-prev"><span><span class="icon-keyboard_backspace"></span></span></a><a
						href="#" class="custom-next"><span><span class="icon-keyboard_backspace"></span></span></a>
				</div>
			
			</div>
			<div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
				
				<div class="owl-carousel slide-one-item-alt-text">
					<div>
						<h2 class="section-title mb-3">Ease for interview</h2>
						<p class="lead">The goal of this project is to give the information about the teachers to
							end-user and easy for the interview by end-user, spend less time, using only single
							platform.</p>
						
						<p><a href="#" class="btn btn-primary mr-2 mb-2">Learn More</a></p>
					</div>
					<div>
						<h2 class="section-title mb-3">Maintained record of hired Teacher</h2>
						<p class="lead">The system also will be able to get the survey for existing teacher, taken from
							student feedback or based on HEC ranking base .</p>
						
						<p><a href="#" class="btn btn-primary mr-2 mb-2">Learn More</a></p>
					</div>
					<div>
						<h2 class="section-title mb-3">Application forms</h2>
						<p class="lead">The system will show the application form in which allow the user to put his
							Academic details like courses list, grades, institution .</p>
						
						<p><a href="#" class="btn btn-primary mr-2 mb-2">Learn More</a></p>
					</div>
					<div>
						<h2 class="section-title mb-3">Teacher recommendation</h2>
						<p class="lead">Also suggest the teacher according their experiences and grades in specific
							course.</p>
						
						<p><a href="#" class="btn btn-primary mr-2 mb-2">Learn More</a></p>
					</div>
				</div>
			
			</div>
		</div>
	</div>
</section>


<section class="site-section border-bottom" id="team-section">
	<div class="container">
		<div class="row mb-5 justify-content-center">
			<div class="col-md-8 text-center">
				<h2 class="section-title mb-3" data-aos="fade-up" data-aos-delay="">Our Team</h2>
			
			</div>
		</div>
		<div class="row">
			
			
			<div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="">
				<div class="team-member">
					<figure>
						<ul class="social">
							<li><a href="#"><span class="icon-facebook"></span></a></li>
							<li><a href="#"><span class="icon-twitter"></span></a></li>
							<li><a href="#"><span class="icon-linkedin"></span></a></li>
							<li><a href="#"><span class="icon-instagram"></span></a></li>
						</ul>
						<img src="{%static 'images/hod.PNG'%}" alt="Image" class="img-fluid">
					</figure>
					<div class="p-3">
						<h3>D.r Hanan bin Liaqat</h3>
						<span class="position">Head of Department</span>
					</div>
				</div>
			</div>
			
			<div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="100">
				<div class="team-member">
					<figure>
						<ul class="social">
							<li><a href="#"><span class="icon-facebook"></span></a></li>
							<li><a href="#"><span class="icon-twitter"></span></a></li>
							<li><a href="#"><span class="icon-linkedin"></span></a></li>
							<li><a href="#"><span class="icon-instagram"></span></a></li>
						</ul>
						<img src="{%static 'images/mohsinsab.jpeg'%}" alt="Image" class="img-fluid">
					</figure>
					<div class="p-3">
						<h3>Mohsin Riaz</h3>
						<span class="position">Lecturer</span>
					</div>
				</div>
			</div>
			
			
			<div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="200">
				<div class="team-member">
					<figure>
						<ul class="social">
							<li><a href="#"><span class="icon-facebook"></span></a></li>
							<li><a href="#"><span class="icon-twitter"></span></a></li>
							<li><a href="#"><span class="icon-linkedin"></span></a></li>
							<li><a href="#"><span class="icon-instagram"></span></a></li>
						</ul>
						<img src="{%static 'images/Ramez.jpeg'%}" alt="Image" class="img-fluid">
					</figure>
					<div class="p-3">
						<h3>Rameez Iqbal</h3>
						<span class="position">Assistance Lecturer</span>
					</div>
				</div>
			</div>
			
			<div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="300">
				<div class="team-member">
					<figure>
						<ul class="social">
							<li><a href="#"><span class="icon-facebook"></span></a></li>
							<li><a href="#"><span class="icon-twitter"></span></a></li>
							<li><a href="#"><span class="icon-linkedin"></span></a></li>
							<li><a href="#"><span class="icon-instagram"></span></a></li>
						</ul>
						<img src="{%static 'images/Usman.jpeg'%}" alt="Image" class="img-fluid">
					</figure>
					<div class="p-3">
						<h3>Hafiz Usman</h3>
						<span class="position">Assistance Lecturer</span>
					</div>
				</div>
			</div>
			
			<div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="">
				<div class="team-member">
					<figure>
						<ul class="social">
							<li><a href="#"><span class="icon-facebook"></span></a></li>
							<li><a href="#"><span class="icon-twitter"></span></a></li>
							<li><a href="#"><span class="icon-linkedin"></span></a></li>
							<li><a href="#"><span class="icon-instagram"></span></a></li>
						</ul>
						<img src="{%static 'images/Sikandar.jpeg'%}" alt="Image" class="img-fluid">
					</figure>
					<div class="p-3">
						<h3>Sikander Ali</h3>
						<span class="position">Clerk</span>
					</div>
				</div>
			</div>
			
			<div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="100">
				<div class="team-member">
					<figure>
						<ul class="social">
							<li><a href="#"><span class="icon-facebook"></span></a></li>
							<li><a href="#"><span class="icon-twitter"></span></a></li>
							<li><a href="#"><span class="icon-linkedin"></span></a></li>
							<li><a href="#"><span class="icon-instagram"></span></a></li>
						</ul>
						<img src="{%static 'images/zain.jpeg'%}" alt="Image" class="img-fluid">
					</figure>
					<div class="p-3">
						<h3>Zain Ishtiaq</h3>
						<span class="position">Junior Clerk</span>
					</div>
				</div>
			</div>
			
			<!--          <div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="200">-->
			<!--            <div class="team-member">-->
			<!--              <figure>-->
			<!--                <ul class="social">-->
			<!--                  <li><a href="#"><span class="icon-facebook"></span></a></li>-->
			<!--                  <li><a href="#"><span class="icon-twitter"></span></a></li>-->
			<!--                  <li><a href="#"><span class="icon-linkedin"></span></a></li>-->
			<!--                  <li><a href="#"><span class="icon-instagram"></span></a></li>-->
			<!--                </ul>-->
			<!--                <img src="{%static 'images/person_3.jpg'%}" alt="Image" class="img-fluid">-->
			<!--              </figure>-->
			<!--              <div class="p-3">-->
			<!--                <h3>Ben Thompson</h3>-->
			<!--                <span class="position">Product Manager</span>-->
			<!--              </div>-->
			<!--            </div>-->
			<!--          </div>-->
			
			<!--          <div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="300">-->
			<!--            <div class="team-member">-->
			<!--              <figure>-->
			<!--                <ul class="social">-->
			<!--                  <li><a href="#"><span class="icon-facebook"></span></a></li>-->
			<!--                  <li><a href="#"><span class="icon-twitter"></span></a></li>-->
			<!--                  <li><a href="#"><span class="icon-linkedin"></span></a></li>-->
			<!--                  <li><a href="#"><span class="icon-instagram"></span></a></li>-->
			<!--                </ul>-->
			<!--                <img src="{%static 'images/person_4.jpg'%}" alt="Image" class="img-fluid">-->
			<!--              </figure>-->
			<!--              <div class="p-3">-->
			<!--                <h3>Chris Stewart</h3>-->
			<!--                <span class="position">Product Manager</span>-->
			<!--              </div>-->
			<!--            </div>-->
			<!--          </div>-->
		
		
		</div>
	</div>
</section>


<section class="site-section bg-light" id="contact-section" data-aos="fade">
	<div class="container">
		<div class="row mb-5">
			<div class="col-12 text-center">
				<h2 class="section-title mb-3">Contact Us</h2>
			</div>
		</div>
		<div class="row mb-5">
			
			
			<div class="col-md-4 text-center">
				<p class="mb-4">
					<span class="icon-room d-block h4 text-primary"></span>
					<span>University of Gujrat Hafiz Hayat Campus Jalalpur Road Gujrat, Pakistan.</span>
				</p>
			</div>
			<div class="col-md-4 text-center">
				<p class="mb-4">
					<span class="icon-phone d-block h4 text-primary"></span>
					<a href="#">+92 (53) 3643112</a>
				</p>
			</div>
			<div class="col-md-4 text-center">
				<p class="mb-0">
					<span class="icon-mail_outline d-block h4 text-primary"></span>
					<a href="#">info@uog.edu.pk</a>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 mb-5">
				
				
				<form action="#" class="p-5 bg-white">
					
					<h2 class="h4 text-black mb-5">Contact Form</h2>
					
					<div class="row form-group">
						<div class="col-md-6 mb-3 mb-md-0">
							<label class="text-black" for="fname">First Name</label>
							<input type="text" id="fname" class="form-control">
						</div>
						<div class="col-md-6">
							<label class="text-black" for="lname">Last Name</label>
							<input type="text" id="lname" class="form-control">
						</div>
					</div>
					
					<div class="row form-group">
						
						<div class="col-md-12">
							<label class="text-black" for="email">Email</label>
							<input type="email" id="email" class="form-control">
						</div>
					</div>
					
					<div class="row form-group">
						
						<div class="col-md-12">
							<label class="text-black" for="subject">Phone Number</label>
							<input type="subject" id="subject" class="form-control">
						</div>
					</div>
					
					<div class="row form-group">
						<div class="col-md-12">
							<label class="text-black" for="message">Message</label>
							<textarea name="message" id="message" cols="30" rows="7" class="form-control"
							          placeholder="Write your notes or questions here..."></textarea>
						</div>
					</div>
					
					<div class="row form-group">
						<div class="col-md-12">
							<input type="submit" value="Send Message" class="btn btn-primary btn-md text-white">
						</div>
					</div>
				
				
				</form>
			</div>
		
		</div>
	</div>
</section>

{% endblock %}