{%extends 'basic3.html'%}
{%block body%}
<div class="row align-items-center position-relative" >
	<div class="container col-md-6"  style="margin-top:120px;margin-bottom:100px">
		
		
		<div>
			<h2>Reset password</h2>
			<form method="post">
				{%csrf_token%}
				<p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
				{{form.as_p}}
				<button class=" btn btn-outline-success btn-sm " type="submit">Email for confarmation</button>
			</form>
		</div>
	</div>
</div>
{%endblock%}