{% extends 'basic3.html'%}
{%block title%} Application form {%endblock%}
{%load static%}
{% load crispy_forms_tags %}
{%block css%}
.abc{
border-style: outset;
border-radius:12px;
margin-top:1%;
padding:1%

}
.ground{
position:relative;
height:100%;
width:100%;

}
.fore{
position:absolute;
top:0%
right:10%;left:10%;

}

table, th, td {
border: 1px groove black;
border-collapse:collapse;
}
th, td {
padding: 5px;
text-align: left;
}
.column {
float: left;
width: 30%;
padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
.column {
width: 100%;
display: block;
margin-bottom: 20px;
}
}

/* Style the counter cards */
.card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
padding: 10px;
text-align: center;
background-color: rgba(245,255,250,0.4);
}

.previous {
background-color: #f1f1f1;
color: black;
}

.next {
background-color: #4CAF50;
color: white;
}

.asteriskField{
color:red;
}
.numberinput
{
}
{%endblock%}
{%block body%}
{% if form.errors %}
<div class="alert alert-danger alert-dismissible col-12 mx-1" role="alert">
	<div id="form_errors">
		{% for key, value in form.errors.items %}
		<span class="fieldWrapper">
                    {{ key }}:{{ value }}
                </span>
		{% endfor %}
	</div>
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
{% endif %}
{% if messages %}
{% for message in messages %}
<div class="alert {{ message.tags }} alert-dismissible" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	{{ message }}
</div>
{% endfor %}
{%endif%}
<div class="container ">
	<h3>Attention!</h3>
	<hr style="">
	<p class="text-muted" style="font-size:12px">
		Fields with <span style="color:red">*</span> are mandatory!
	</p>
	<p class=" text-muted text-center" style="font-size:13px;">
		Please fill the Application according to Your DMCs/Transcripts as Our
		validation team is there for cross checking.Also other fields of application require correct & integer
		information.
	</p>
	<p class="" style="font-size:12px;color:red">
		If incorrect or ambiguous information is given you and only you will be responsible for that!!Administration
		will
		cancel or delete your Application
	</p>
</div>

<div class=" container abc">
	<form method="POST" enctype="multipart/form-data">
		<div class="container col-md-10" id="a1">
			<strong style="font-size:25px">Primary Information</strong>
			{% csrf_token %}
			<div class="form-row">
				<div class="form-group col-md-5">
					<p> {{application.First_Name|as_crispy_field}}</p>
				</div>
				<div class="form-group col-md-5">
					<p>{{application.Last_Name|as_crispy_field }}</p>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-4">
					<p>{{application.Father_Name|as_crispy_field }}</p>
				</div>
				
				<div class="form-group col-md-4">
					<p>{{application.Email|as_crispy_field }}</p>
				</div>
				<div class="form-group col-md-2">
					<p>{{application.Gender|as_crispy_field }}</p>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-3">
					<p>{{application.Date_of_Birth|as_crispy_field}}</p>
				</div>
				<div style="margin-left:15px" class="form-group col-md-3">
					<p>{{application.Age|as_crispy_field}}</p>
				
				</div>
				<div style="margin-left:15px" class="form-group col-md-3">
					<p>{{application.Domicile|as_crispy_field }}</p>
					<p class="text-muted" style="font-size:12px">Enter the Your Domicile.eg(State of Resident) </p>
				</div>
			
			</div>
			<div class="form-row">
				
				<div class="form-group col-md-4">
					<p><label>Phone Number (format: xxxx-xxx-xxxx):</label>
						<input type="number" name="Phone_no" pattern="/[0-9]{3}-[0-9]{7}/"
						       class="numberinput form-control"
						       required="" id="id_Phone_no"></p>
					<p class="text-muted" style="font-size:12px">Please Enter your Cell phone No.</p>
					
					<!--					<input type="text" name="phone no" pattern="/[0-9]{3}-[0-9]{7}/" required="field mudt required">-->
					<!--					{{application.Phone_no|as_crispy_field }}-->
				</div>
				<div class="form-group col-md-4">
					<p>
						<label>Land line (format:xxx-xxxxxxx) </label>
						<!--					<input type="text" name="phone no" pattern="/[0-9]{3}-[0-9]{7}/" required="field mudt required">-->
						<input type="number" name="Land_Line" class="numberinput form-control"
						       pattern="/[0-9]{3}-[0-9]{7}/"
						       required="" id="id_Land_Line">
					</p>
					<p class="text-muted" style="font-size:12px">Please Enter your Land Line No.</p>
					
					<!--					{{application.Land_Line|as_crispy_field }}-->
				</div>
			</div>
			<hr>
			<div class="row" style="">
				<div class="col-md-6"></div>
				
				<div class="col-md-6 ">
					
					<button title="Next" id="b1"
					        class="btn btn-outline-secondary float-right">->>
					</button>
				
				</div>
			
			</div>
		</div>
		
		
		<div class="container" id="a2">
			<strong style="font-size:25px">Study Information</strong>
			{% csrf_token %}
			<p class="text-muted" style="font-size:12px">Enter the Marks you obtained in <span style="color:red">Metric, Intermediate & Graduation</span>
			</p>
			<div class="form-row">
				<div class="form-group">
					<table class="table table-bordered" style="width:auto">
						<tr>
							<strong><label class="label" style="font-size:21px;">Matric</label></strong>
						</tr>
						<!--						<tr>-->
						<!--&lt;!&ndash;							<th>Total</th>&ndash;&gt;-->
						<!--&lt;!&ndash;							<th>Obtain</th>&ndash;&gt;-->
						<!--&lt;!&ndash;							<th>Percentage</th>&ndash;&gt;-->
						<!--&lt;!&ndash;							<th>Subject</th>&ndash;&gt;-->
						<!--&lt;!&ndash;							<th>Grade</th>&ndash;&gt;-->
						<!--						</tr>-->
						<tr>
							<th>{{application.MatricTotal|as_crispy_field}}</th>
							<td>{{application.MatricObtain|as_crispy_field}}</td>
							<td>{{application.MatricPercentage|as_crispy_field}}</td>
							<td>{{application.MatricSubject|as_crispy_field}}</td>
							<td>{{application.MatricGrades|as_crispy_field}}</td>
							<td>{{application.MatricYear|as_crispy_field}}</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group">
					<table class="table table-bordered table-striped" style="width:auto;">
						<tr>
							<strong><label class="label" style="font-size:21px;">Intermediate</label></strong></tr>
						<!--						</tr>-->
						<!--						<tr>-->
						<!--							<th>Total</th>-->
						<!--							<th>Obtain</th>-->
						<!--							<th>Percentage</th>-->
						<!--							<th>Subject</th>-->
						<!--							<th>Grade</th>-->
						<!--							&lt;!&ndash;						<th>Year</th>&ndash;&gt;-->
						<!--						</tr>-->
						<tr>
							<td>{{application.IntermediateTotal|as_crispy_field}}</td>
							<td>{{application.IntermediateObtain|as_crispy_field}}</td>
							<td>{{application.IntermediatePercentage|as_crispy_field}}</td>
							<td>{{application.IntermediateSubject|as_crispy_field}}</td>
							<td>{{application.IntermediateGrades|as_crispy_field}}</td>
							<td>{{application.IntermediateYear|as_crispy_field}}</td>
							<!--						<th>{{application.IntermediateYear}}</th>-->
						</tr>
					</table>
				</div>
			
			</div>
			<div class="form-row">
				<div class="form-group">
					<table class="table table-bordered" style="width=auto;">
						<tr>
							<strong><label class="label" style="font-size:21px;">Graduation</label></strong>
						</tr>
						<!--						<tr>-->
						<!--							<th>Total</th>-->
						<!--							<th>Obtain</th>-->
						<!--							<th>Percentage</th>-->
						<!--							<th>Subject</th>-->
						<!--							<th>Grade</th>-->
						<!--						</tr>-->
						<tr>
							<td>{{application.GraduationTotal|as_crispy_field}}</td>
							<td>{{application.GraduationObtain|as_crispy_field}}</td>
							<td>{{application.GraduationPercentage|as_crispy_field}}</td>
							<td>{{application.GraduationSubject|as_crispy_field}}</td>
							<td>{{application.GraduationGrades|as_crispy_field}}</td>
							<td>{{application.GraduationYear|as_crispy_field}}</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="card">
						<h5>Matric Result</h5>
						<p class="text-muted" style="font-size:12px;color:red;"><span style="color:red">Try to Paste PDF file for Best practices</span></p>
						<hr>
						<p>{{application.Matrics_Result}}</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card">
						<h5>Intermediate Result</h5>
						<p class="text-muted" style="font-size:12px;color:red;"><span style="color:red">Try to Paste PDF file for Best practices</span></p>
						<hr>
						<p>{{application.Intermediate_result}}</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card">
						<h5>Graduation Result</h5>
						<p class="text-muted" style="font-size:12px;color:red;"><span style="color:red">Try to Paste PDF file for Best practices</span></p>
						<hr>
						<p>{{application.Graduations_result}}</p>
					</div>
				</div>
			</div>
			<div>
				<div style="margin-top:10px">
					<hr>
				</div>
				<div class="row">
					
					<div class="col-md-4 ">
						<button title="previous" style="" id="b2" class="btn btn-outline-secondary float-left">
							<<-
						</button>
					</div>
					<div class="col-md-4 ml-auto">
						<button title="Next" style="" id="b3" class="btn btn-outline-secondary float-right">
							->>
						</button>
					</div>
				</div>
			
			
			</div>
		</div>
		
		<div class="container col-md-10 " id="a3">
			<strong style="font-size:25px">Extra Information</strong>
			<p class="text-muted" style="font-size:12px">Select appropriate Fields as Instruction are given with
				fields!!</p>
			{% csrf_token %}
			<div class="form-row">
				
				<div class="form-group col-md-4">
					<p>{{application.Qualify|as_crispy_field }}</p>
					<p>{{application.Speclization|as_crispy_field }}</p>
					<p>{{application.Master_Specialization|as_crispy_field }}</p>
				</div>
				<div class="col-md-4"></div>
				<div style="" class="form-group col-md-4">
					<p>{{application.Image|as_crispy_field }}</p>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-4">
					<p>{{application.Experience|as_crispy_field }}</p>
				</div>
			</div>
			<hr>
			<p class="text-muted" style="font-size:12px"> If your <span style="color:red">Submit button</span>  is not
				working..Please Press  <span style="color:red">Verify button</span> Verify button to see Error.! </p>
			<div class="row">
				<div class="ml-auto" style="">
					<button title="Finish" style="margin-left:3px;" id="b5"
					        class="btn btn-outline-secondary float-right">
						Submit
					</button>
					<button title="Verify Your Data" style="" id="b4" class="btn btn-outline-secondary float-right">
						Verify
					</button>
				</div>
			</div>
		</div>
	</form>
</div>


{% endblock %}