{%extends 'basic3.html'%}
{%block body%}

{% if messages %}
<div class="alert alert-{{messages_tags}} container-fluid">
	{% for message in messages %}
	<i>{{ message }}</i>
	{% endfor %}
{%endif%}
</div>

<div class="container col-md-8" style=" margin-top:5px">
	<form method='POST'>{% csrf_token %}
		<h2>Do you want to delete the product "{{ object.First_Name }} {{object.Last_Name}}"?</h2>
		<input class="btn btn-success" type='submit' value='Yes'/> <a class="btn btn-success" href='../../'>Cancel</a>
	
	</form>
</div>
{%endblock%}