{% extends 'basic3.html' %}
{%block title%}Quiz Manager {%endblock %}
{%block css%}
.box{
position:absolute;
top:20%;
width: 400px;
height: 150px;
border-style: groove;
border-radius:25px;
box-shadow: 10px 12px 8px  #888888;
background-color:rgba(245,255,250,0.4);
}
#d1
{
border-style: groove;
border-radius:25px;
padding:20px;
box-shadow: 10px 12px 8px  #888888;
background-color:rgba(245,255,250,0.4);
}
{%endblock%}
{%block body%}
{%if quiz == '1'%}
<div class="alert alert-danger alert-dismissible" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	<h3>No Quiz :(</h3>
	<p>Quiz can only be attempted when admin will add a quiz or send it to you.You have to contact the admin in further
		explanation!</p>
	<p><b>It Is Also Possible That Admin Has Restricted You For Accessing the Quiz</b></p>
</div>
{%else%}
<div style="padding:100px">
	<div id="d1" class="container col-md-8">
<!--		<div class="row" style="text-align:center">-->
<!--			<div class="col"><h3>Start Quiz!!</h3></div>-->
<!--&lt;!&ndash;			<div class="col"></div>&ndash;&gt;-->
<!--		</div>-->
	
		<div class="row">
			<div class="col-md-5">
				<h5>Quiz Details</h5><hr>
				<p><b>Title: </b>{{quiz.title}} </p>
				<p><b>Description: </b>{{quiz.description}}</p>
				<p><b>Category: </b>{{quiz.category}}</p>
				<p><b>NoOfQuestions: </b>{{count}}</p>
				<a href="{%url 'UserViews:GetQuestions' slug=quiz.url%}" role="button" class="btn btn-primary btnbox">Attempt
					Quiz</a>
			</div>
			<div class="col-md-7">
				<h5>Instruction for quiz</h5><hr>
				<p><b>Instructions: </b>{{quiz.Instructions}}</p>
			</div>
		</div>
	
	</div>
</div>
{%endif%}

{%endblock%}



