{%extends 'basic3.html'%}
{%block title%}Questions{%endblock%}
{%block css%}
.box{
position:absolute;
top:30%;
left:25%;
width: 650px;
height: 270px;
border-style: groove;
border-radius:25px;
box-shadow: 10px 12px 8px  #888888;
background-color:rgba(245,255,250,0.4);
}
li{list-style-type:none;}
{%load static%}
{%endblock%}
{%block body%}

<div class="container" >
	<div class="col-md-8" id="z">
	</div>
</div>

{%endblock%}



{%block script%}
ques =  {{quest|safe}};
ans = {{answer|safe}} ;
{%endblock%}