{%extends 'basic3.html'%}
{%block title%}Questions{%endblock%}
{%block css%}
.box{
position:absolute;
top:30%;
left:25%;
width: 650px;
height: 270px;
border-style: groove;
border-radius:25px;
box-shadow: 10px 12px 8px  #888888;
background-color:rgba(245,255,250,0.4);
}
li{list-style-type:none;}
{%load static%}
{%endblock%}
{%block body%}

<div class="container" id="xx" >
	<div class="col-md-8" id="z">
	</div>
</div>

{%endblock%}
{%block script%}
//ques = ;
//csrf_token = "{{ csrf_token }}";
//ans =  ;
var selected;
var json = {};
var SelectedAnswer = [];
var clickcheck = null;
var selvalue;
var valueofselection;
var check = false;
var selctedanswer =[];
var ch;
var ques = {{quest|safe}};
var ans = {{answer|safe}};
var quiz = {{len|safe}};
console.log(ans);

for( var i=0;i<ques.length; i++)
{
			var para = document.createElement("p");
            var btn =document.createElement("button");btn.innerHTML="Finish";btn.type='button';btn.className="btn btn-outline-success";btn.id="b1";
			btn.setAttribute("onclick", "RadioFun()")
			var node = document.createTextNode(ques[i]['question']);
			para.appendChild(node);
            var newline = document.createElement('br');
            var co = document.getElementById("z");
			co.style="margin:10px";
            //var form = document.getElementById("form1");
            co.appendChild(para); var olist = document.createElement('ul');
                          olist.id="Answerlist";
	    for (var n=0;n<ans.length;n++)
	    {
			  if(ans[n]['question_id']==ques[i]['id'])
			 {
						 var line = document.createElement('br');
						 var radio = document.createElement('input');
						 radio.type = "radio";
						 radio.name ="choice"+i;
                          radio.id = "radio";
			              radio.value =ans[n]['answer'];
						  var label = document.createElement('label')
						  label.htmlFor = 'contact';
						  var description = document.createTextNode(""+ans[n]['answer']);
			              label.appendChild(description);
//                          var olist = document.getElementById('list1');

                          var ilist = document.createElement('li');
                          ilist.id="option";
                          ilist.setAttribute("onclick","fun(this)");
                          ilist.setAttribute("style",";");
						  ilist.appendChild(radio);
						  ilist.appendChild(label);
						  olist.append(ilist);

			}
			co.append(olist);
	    }
 }

function fun(a){
selvalue=a.closest('li').lastChild.innerHTML;
console.log(selvalue);

}
co.appendChild(btn);


function RadioFun(){
var j= 0;
for (var i =0;i<ques.length; i++)
{
var c = "choice"+i;
var radios = document.getElementsByName(c);
	   for(var k =0;k<radios.length;k++)
		{
			if(radios[k].checked)
			{
				var s = radios[k].value;
				//console.log(s + "|radio");
			}
		}
	    if (s != null)
	    {
			j=j+1;
			console.log(j);
			s = null;
		}
}

	 if (j<ques.length)
		{
			alert("Please Select Answer For Each Question");
		}
     else
    {
		 for (var i=0;i<ques.length; i++)
			{
				var c = "choice"+i;
				var radios = document.getElementsByName(c);
      
				
				  for(var k =0;k<radios.length;k++)
					{
						if(radios[k].checked)
						{
							 var z = radios[k].value;
							 json = {
							 quiz:quiz,
							 question_id:ques[i]['id'],
                             question:ques[i]['question'],
							 answer:z,}
                             SelectedAnswer.push(json);
						}
					}
	          //SelectedAnswer.push(json);
           
			}

          $("#b1").hide();
          var sub = document.createElement('button');sub.id="b2";sub.innerHTML="Submit";
          co.remove();
          var nn = document.getElementById('xx');
          nn.append(sub);
          
	    function getCookie(name) {
	    var cookieValue = null;
	    if (document.cookie && document.cookie !== '') {
	        var cookies = document.cookie.split(';');
	        for (var i = 0; i < cookies.length; i++) {
	            var cookie = jQuery.trim(cookies[i]);
	            // Does this cookie string begin with the name we want?
	            if (cookie.substring(0, name.length + 1) === (name + '=')) {
	                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                break;
	            }
	        }
	    }
	    return cookieValue;
}
      var l ={"key":"hello"};
	  $(function() {
	    var csrftoken = getCookie('csrftoken');
	    function csrfSafeMethod(method) {
	        // these HTTP methods do not require CSRF protection
	        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	    }
	
		$.ajaxSetup({
		   beforeSend: function(xhr, settings) {
		        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
		            xhr.setRequestHeader("X-CSRFToken", csrftoken);
		        }
		    }
		});
     
        //  var g = JSON.stringify(SelectedAnswer); console.log(g);

        //var da = JSON.stringify(SelectedAnswer);
        // console.log(da +  " click ")

        $('#b2').click(function(e) {
             console.log("Ajax Funcrion" + SelectedAnswer)
            e.preventDefault(); // prevent form from reloading page
           $.ajax({
					url:'{% url "UserViews:MarkQuiz" %}',
					method: 'POST',
                    dataType: 'json',
                    traditional: true,
                    contentType: 'application/json; charset=utf-8',
                    data:JSON.stringify(SelectedAnswer),
                    //cache: true,
                    success: function(data){
                    alert("Sent For Gradings");
                    //var quiz_settings = data[0];
                    //var question = data[1];
                    //console.log(quiz_settings, +"  "+ question)
                   console.log(data)
                    }
           
            });
        });
        });

    }

}

{%endblock%}