{%extends 'basic3.html'%}
{%block title%}User{%endblock%}
{%load static%}
{%csrf_token%}
{%load crispy_forms_tags%}
{%block css%}
.asteriskField{
color:red;
}
label{
font-size:12px;
}
p{
font-size:13px;
}
{%endblock%}
{%block body%}
<div class="container text-muted">
	<div style="padding-top:20px">
		<p class="text-muted"> Fields with * are mandatory.</p>
		<p class="text-muted"> Follow the pattern below to enter Grade!</p>
		<pre class="text-muted">
	A+ -> 1  A  -> 2
	B+ -> 3  B  -> 4
	B- -> 5  C+ -> 6
	C  -> 7  D  -> 8
</pre>
		<p class="text-muted">During filling these rows make sure that the resemble to your DMC/Transcript.</p>
		<p class="text-muted">In case of wrong input your job will be cancelled at any time.</p>
	</div>
	<form method="post">
		<div class="row">
			<div class="col-md-8">
				{{form.speciality|as_crispy_field}}
			</div>
		</div>
		<!--		<p class="text-muted">Now Enter Grades!!</p>-->
		<p class="text-muted"><b>Subjects to analyze your Academic performance.</b></p>
		<div class="row">
			<div class="col-md-10">
				<table class="table table-bordered table-striped">
					<thead class="thead-light ">
					<tr>
						<th>ProgrammingFundamentals</th>
						<th>Object Oriented Programming</th>
						<th>Data Structures And Algorithms</th>
						<th>Visual Programming</th>
						<th>WebSystem And Technologies</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>{{form.ProgrammingFundamentals|as_crispy_field}}</td>
						<td>{{form.ObjectOrientedProgramming|as_crispy_field}}</td>
						<td>{{form.DataStructuresAndAlgorithms|as_crispy_field}}</td>
						<td>{{form.VisualProgramming|as_crispy_field}}</td>
						<td>{{form.WebSystemAndTechnologies|as_crispy_field}}</td>
					</tr>
					</tbody>
				</table>
			</div>
		
		</div>
		
		<div class="row">
			<div class="col-md-10">
				<table class="table table-bordered table-striped">
					<thead class="thead-light">
					<tr>
						<th>Mobile Application Development</th>
						<th>Cloud Computing</th>
						<th>Artificial Intelligence</th>
						<th>Data Mining</th>
						<th>Calculus And Analytical Geometry</th>
						<th>Discrete Structures</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>{{form.MobileApplicationDevelopment|as_crispy_field}}</td>
						<td>{{form.CloudComputing|as_crispy_field}}</td>
						<td>{{form.ArtificialIntelligence|as_crispy_field}}</td>
						<td>{{form.DataMining|as_crispy_field}}</td>
						<td>{{form.CalculusAndAnalyticalGeometry|as_crispy_field}}</td>
						<td>{{form.DiscreteStructures|as_crispy_field}}</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-md-9">
				<table class="table table-light table-striped table-bordered">
					<thead class="thead-light">
					<tr>
						<th>Network Security</th>
						<th>Data Communication & Computer Networking</th>
						<th>Wireless & Mobile Communication</th>
						<th>Internet Architecture & protocol</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>{{form.NetworkSecurity|as_crispy_field}}</td>
						<td>{{form.DataCommunicationAndComputerNetworks|as_crispy_field}}</td>
						<td>{{form.WirelessAndMobileCommunication|as_crispy_field}}</td>
						<td>{{form.InternetArchitectureAndProtocol|as_crispy_field}}</td>
					</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-2 my-auto ml-auto">
				<div class="row">
					pppp
				</div>
				<div><p class="text-muted" style="font-size:12px">press this button to submit</p></div>
				<button type="submit" class="btn btn-success">submit</button>
			</div>
		</div>
		<div>
		
		</div>

		<!--		{{form.ProgrammingFundamentals|as_crispy_field}}</td>-->
		<!--		{{form.ObjectOrientedProgramming|as_crispy_field}}</td>-->
		<!--		{{form.DataStructuresAndAlgorithms|as_crispy_field}}</td>-->
		<!--		{{form.VisualProgramming|as_crispy_field}}</td>-->
		<!--		{{form.WebSystemAndTechnologies|as_crispy_field}}</td>-->
	</form>
	<a href="{%url 'UserViews:category' %}">Grades</a>
</div>
{%endblock%}
{%block content%}
{% if messages %}
{% for message in messages %}
<div class="alert {{ message.tags }} alert-dismissible" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	{{ message }}
</div>
{% endfor %}
{%endif%}
{%endblock%}
