{%extends 'basic3.html'%}
{%block title%}User{%endblock%}
{%load static%}
{%csrf_token%}
{%load crispy_forms_tags%}
{%block css%}
.asteriskField{
color:red;
}
label{
font-size:12px;
}
p{
font-size:13px;
}
{%endblock%}
{%block body%}
	<a href="{%url 'UserViews:category' %}">Grades</a>
</div>
{%endblock%}
{%block content%}
{% if messages %}
{% for message in messages %}
<div class="alert {{ message.tags }} alert-dismissible" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	{{ message }}
</div>
{% endfor %}
{%endif%}
{%endblock%}
