	  body, html {
  height: 100%;
}
.bg-image {
  /* The image used */
  background-image: url({%static 'images/blocks.jpg'%});

  /* Add the blur effect */
  filter: blur(1px);
  -webkit-filter: blur(1px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: relative;
  background-repeat: no-repeat;
  background-size:cover;
}

.navbar {
  height: 80px;
  background-color: transparent;
  border: none;
  color: white;
  z-index: 100;
  transition: background-color 0.5s ease 0s;
}


.navbar-default {

   .navbar-brand {
     margin-top: 10px;
     color: white;

      &:hover {
         color: #C57ED3;
         border: 1px solid #C57ED3;
      }
   }

  .navbar-nav {

    > li {

      > a {
        color: white;
        margin: 10px 5px 5px 5px;

      }
      > a:hover, > a:active, > a:focus {
        color: #C57ED3;
        border: 1px solid #C57ED3;
      }
      > a:visited {
        color: #C57ED3;
        text-decoration: none;
      }

    } //end li

    > .active {

      > a, > a:hover, > a:focus {
        background-color: transparent;
        color: #C57ED3;
      }

    }

  } //end .navbar-nav

  //Collapsed styles
  .navbar-toggle {
    border-color: #C57ED3;

      &:hover, &:focus {
        background-color: #490D40;
      }



      .icon-bar {
        color: #C57ED3;
        background-color: #C57ED3;

      }
  }

  .navbar-collapse.collapse.in ul {
    background-color: #490D40;
  }

} //end .navbar-default



/* Solid class attached on scroll past first section */

.navbar.solid {
  background-color:red;
  transition: background-color 1s ease 0s;
  box-shadow: 0 0 4px grey;

    .navbar-brand {
      color: #C57ED3;
      transition: color 1s ease 0s;
    }

    .navbar-nav {

       > li {

          > a {
            color: #C57ED3;
            transition: color 1s ease 0s;
          }

       } //end li

    } //end .navbar-nav

}

.about {
   background-color: #C57ED3;
   color: #490D40;
   height: 600px;
   text-align: center;
   margin-top: -20px;

   h2 {
      padding-top: 220px;
   }
   p {
      padding: 20px 80px;
   }
}








*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat',sans-serif;
}
.nav {
  height: 80px;
  background-color: transparent;
  border: none;
  color: white;
  z-index: 100;
  transition: background-color 1s ease 0s;
}
nav{
  padding: 5px 40px;
}
nav ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
nav ul li{
  padding: 15px 0;
  cursor: pointer;
}
nav ul li.items{
  position: relative;
  width: auto;
  margin: 0 16px;
  text-align: center;
  order: 3;
}
nav ul li.items:after{
  position: absolute;
  content: '';
  left: 0;
  bottom: 5px;
  height: 2px;
  width: 100%;
  background:black;
  opacity:0;
  transition: all 0.2s linear;
}
nav ul li.items:hover:after{
  opacity: 0.6;
  bottom: 12px;
  color: grey;
}
nav li.logo{
  flex: 1;
  color:rgb(169,169,169);
  font-size: 27px;
  font-weight: 600;
  cursor: default;
  user-select: none;
}
nav ul li a{
  color:rgba(169,169,169);
  font-size: 16px;
  text-decoration: none;
  transition: .4s;

}
nav ul li:hover a{
  color: black;
  background-color:rgba(0,0,0,0.1);
}
nav ul li i{
  font-size: 200px;
}
nav ul li.btn{
  display: none;
}
nav ul li.btn.hide i:before{
  content: '\f00d';
}
@media all and (max-width: 900px){
  nav{
    padding: 5px 30px;
  }
  nav ul li.items{
    width: 100%;
    display: none;
  }
  nav ul li.items.show{
    display: block;
  }
  nav ul li.btn{
    display: block;
  }
  nav ul li.items:hover{
    border-radius: 100px;
    box-shadow: inset 0 0 5px #33ffff,
                inset 0 0 10px #66ffff;
  }
  nav ul li.items:hover:after{
    opacity: 0.6;
  }
}



	    .footer{
      background:color:black;
      }