<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	{%load crispy_forms_tags%}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
	        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
	        crossorigin="anonymous"></script>

</head>
<body>
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{message.tags}} alert-dismissible" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	{{ message }}
	<a class="btn btn-secondary btn-sm" role="button" href="{%url 'UserViews:testing'%}">Application</a>
</div>
{% endfor %}
{%endif%}
<div class="row">
	<div class="col">
		<form method="post" novalidate>
			{%csrf_token%}
			{{form1.as_p}}
			<button type="submit" class="btn btn-outline success">send</button>
		</form>
	</div>
	<div class="col">
		<!--		<form method="post" novalidate>-->
		<!--			{%csrf_token%}-->
		<!--			<label for="id_answer1">Answer:</label>-->
		<!--			<input type="text" name="answer" value="" maxlength="500" required="" id="id_answer1">-->
		<!--			<label for="id_is_correct1">Is correct:</label>-->
		<!--			<input type="checkbox" name="is_correct" id="id_is_correct1">-->
		<!--			<hr>-->
		<!--			<label for="id_answer2">Answer:</label>-->
		<!--			<input type="text" name="answer" value="" maxlength="500" required="" id="id_answer2">-->
		<!--			<label for="id_is_correct2">Is correct:</label>-->
		<!--			<input type="checkbox" name="is_correct" id="id_is_correct2">-->
		<!--			<hr>-->
		<!--			-->
		<!--			<label for="id_answer3">Answer:</label>-->
		<!--			<input type="text" name="answer" value="" maxlength="500" required="" id="id_answer3">-->
		<!--			<label for="id_is_correct3">Is correct:</label>-->
		<!--			<input type="checkbox" name="is_correct" id="id_is_correct3">-->
		<!--			<hr>-->
		<!--			-->
		<!--			<label for="id_answer4">Answer:</label>-->
		<!--			<input type="text" name="answer" value="" maxlength="500" required="" id="id_answer4">-->
		<!--			<label for="id_is_correct4">Is correct:</label>-->
		<!--			<input type="checkbox" name="is_correct" id="id_is_correct4">-->
		<!--			<hr>-->
		<!--			-->
		<!--			&lt;!&ndash;			{{form4.as_table}}&ndash;&gt;-->
		<!--			-->
		<!--			<button type="submit" class="btn btn-outline success">send</button>-->
		<!--		-->
		<!--		</form>-->
	</div>
</div>

<a href="{%url 'InterviewPannel:question'%}" vlaue="">Add Questions</a>

<!--<div class="card custom-card">-->
<!--	<div class="card-header">-->
<!--		Add Answer-->
<!--	</div>-->
<!--	<div class="card-body">-->
<!--		<div id="AnswerInput" class="form-row">-->
<!--			<div class="form-group col-md-3">-->
<!--				<input type="text" class="form-control custom" id="answer" placeholder="Answer"/>-->
<!--			</div>-->
<!--			<div class="form-group col-md-4">-->
<!--				<label for="is_correct">is_correct:</label>-->
<!--				<input type="checkbox" id="is_correct" value="is_correct">-->
<!--			</div>-->
<!--			<div class="form-group col-md-5">-->
<!--				<input type="button" style="width:90%" class="btn btn-success" id="AddAnswerButton"-->
<!--				       value="Add"/>-->
<!--			</div>-->
<!--		</div>-->
<!--		<div id="answer1">-->
<!--		-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->


<script>
////Tour Nights Detail Section..........
        $("#AddAnswerButton").click(function () {
            var $Row = $("#AnswerInput").clone().removeAttr('id');
            //Assigning Values To Clone row
            $('#answer', $Row).val($('#answer').val());
            var input = $("<input readonly />").addClass("is_correct form-control custom").attr("value", $("#HotelStay").find(":selected").text());
            $('#correct', $Row).replaceWith(input);
            //Replace add button with remove button
            $('#AddAnswerButton', $Row).addClass('remove').val("Remove").removeClass('btn-success').addClass('btn-danger');
            // //adding Class Attributes
            $('#answer', $Row).attr('class', 'answer form-control custom');
            $('#answer', $Row).prop("readonly","true");
            $('#is_correct', $Row).prop("readonly","true");
            //Removing ID Attributes
            $('#answer,#is_correct,#AddAnswerButton', $Row).removeAttr('id');
            //Appending Row to New Row
            $('#answer1').append($Row)
            //Clearing Input Values
            $('#answer').val("");
            //remove button click event
            $('#answer1').on('click', '.remove', function () {
                $(this).parents('.form-row').remove();
            });
        });



</script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>
</html>